body {
    font-family: monospace;
    font-size: 10pt;
}

#body {
    width: 600px;
}

#output {
    height: 100px;
    border: 1px solid black;
    font-size: 10pt;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#location {
    height: 400px;
    background-color: #eee;
    position: relative;
}

#loc_name {
    background-color: white;
}

#loc_desc {
    padding-left: 10px;
    padding-right: 10px;
}

.summary_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: white;
}

.summary_list span {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    position: relative;
    top: 8px;
}

span.label {
    color: white;
    background-color: navy;
    margin-right: 10px;
}

span.summary {
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

span.user.offline {
    background-color: lightgray;
    opacity: 0.5;
}

span.user.online {
    color: blue;
}

#input {
    width: 100%;
}

.message.error {
    color: red;
    font-style: italic;
}

span.actor {
    color: maroon;
    font-weight: bold;
}
